<?xml version="1.0"?>
<configuration>
  <!--
    /// Copyright ©2014 Bio-Rad Laboratories, Inc. All rights reserved.
    ///
    /// This file is part of the CFX Manager API Examples kit.
    ///
    /// These settings are required by the Example_Client class.
    ///
    /// The content-size and time-out related settings are set here to "safe" values that should
    /// allow the client to operate without communication channel failures in any environment.
    /// The various time-out settings may be optimized based on the performance characteristics of
    /// the operating environment and the requirements of the client application. 
    ///
    /// Note the binding configuration time-out properties that have been explicitly set to low values 
    /// relativete to their defaults. This is in support of the status polling model used by the example 
    /// application, which effectively allows the send and recieve timeouts to be treated as heartbeat
    /// monitors, since in a healthy environment requests and responses will be exchange about once
    /// per second with expected total transaction periods of less than one second. 
    ///
    /// The localhost endpoint address may be replaced with the remote IP address of
    /// a host system running CFX Manager in User Mode.
    ///-->
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_ISOCFXCommandService" openTimeout="00:00:15" receiveTimeout="00:00:15" sendTimeout="00:00:15" maxReceivedMessageSize="81920" textEncoding="utf-16">
          <readerQuotas maxStringContentLength="16384" maxBytesPerRead="16384"/>
          <security mode="Message">
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default"/>
          </security>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8003/BioRad.PCR.CommandManager/SOCFXCommandService" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ISOCFXCommandService" contract="ISOCFXCommandService" name="WSDualHttpBinding_ISOCFXCommandService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
